/* Styling the Catalog Food Grid */
.catalog-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 18px;
}

.header-row {
    display: flex;
    padding: 0 4px;
    overflow: auto;
}

.catalog-row:active {
    background-color: #BADFE7;
}

.header-row:active {
    background-color: #BADFE7;
}

.column {
    font-family: "Inter,sans-serif";
    margin: 16px 6px 0px 6px;
    flex: 20%;
    padding: 2px;
    border-style: solid;
    border-radius: 15px;
    text-align: center;
    background-color: #BADFE7;
}

/* Styling the Search Bar */
.search-bar {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: "Degular,sans-serif";
}

input {
    padding: 0.25rem;
    border: none;
    font-family: inherit;
    font-size: 1.2em;
    border-bottom: 2px solid gray;
    transition: all 0.2s;
    width: 100%;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #388087;
    padding: 0.25rem;
    border: none;
    font-family: inherit;
    font-size: 1.2em;
    border-bottom: 2px solid gray;
    transition: all 0.2s;
    width: 100%;
}

