/* Styling the Catalog Food Grid */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    font-family: "Inter,sans-serif";
    flex: 20%;
    padding: 2px;
    margin-top: 16px;
    border-style: solid;
    border-radius: 15px;
    text-align: center;
    background-color: #BADFE7;
}

.column img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

/* Styling the Search Bar */
.search-bar {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

input {
    padding: 0.25rem;
    border: none;
    font-family: inherit;
    font-size: 1.2em;
    border-bottom: 2px solid gray;
    transition: all 0.2s;
    width: 100%;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #388087;
    padding: 0.25rem;
    border: none;
    font-family: inherit;
    font-size: 1.2em;
    border-bottom: 2px solid gray;
    transition: all 0.2s;
    width: 100%;
}

