.header {
    background-color: #BADFE7;
    margin-top: 24px;
    height: 364px;
    position: relative
}

.mini-card {
    border-style: solid;
    border-radius: 15px;
    padding: 4px 16px 4px 16px;
    margin: 12px 12px 12px 12px;
    background-color: #BADFE7;
}

.item-button {
    position: absolute;
    
    bottom: 16px;
    width: fill;
    height: 36px;
    margin-left: 264px;
    margin-right: 264px;
    border-radius: 15px;
    text-align: center;
    font-family: "Inter,sans-serif";
    font-size: 20px;

    box-shadow: 0 6px 0 #388087;
    background-color: #a1dee2;
    transition: transform 0.1s ease-out, box-shadow;
}

.item-button:active {
    box-shadow: none;
    transform: translateY(6px);
}