.profile-buttons {
    list-style: none;
    text-align: center;
    margin-top: 124px;
}

.profile-buttons li {
    display: inline;
    border-style: solid;
    border-radius: 15px;
    background-color: #BADFE7;
    margin: 0px 24px 0px 24px;
    
    font-size: 20px;
    padding: 12px;

    transition: background-color 2s ease-out 100ms;
}

.profile-buttons li a {
    text-decoration: none;
    color: #ffffff;
}

.profile-buttons li:hover {
    background-color:#388087;
}